body {
    background-color: olivedrab;
}

header {
    text-align: center;
    border: 5px solid;
}

button {
    margin: 2em;
}

.card-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	margin: 1em auto;
}

.card {
	max-width: 20%;
	min-width: 300px;
	max-height: 400px;
	background-color: orange;
	padding-bottom: .3em;
	border-radius: 10px;
	box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
	margin: 1em auto;
    position:relative;
	text-align:center;
}